﻿/*
 * Copyright 2017 James Davidson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

h1 {
	font-size: 29px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

.hyperlink {
    visibility:hidden;
}
