﻿/*
 * Copyright 2017 James Davidson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: lightsteelblue;
    color: black;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */

#container {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
    text-align:right;
}

#body {
    padding: 10px;
    padding-bottom: 60px; /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
}

form {
    width: 50%;
    margin: 0 auto;
}

.hyperlink{
    float:right;
}

.result {
    position: absolute;
    border: 3px double gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
    right: 25%;
    width: 11%;
    height: auto;
    top: 150px; /* 20.5% */
}

.result2 {
    position: absolute;
    border: 3px double gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
    right: 25%;
    width: 11%;
    height: auto;
    top: 270px; /* 36% */
}

.footer {
    text-align: center;
    color: #3F3F3F;
}

.center{
    position:center;
}

.reset-button{
    display: inline;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;
}

.print-button{
    display: inline-block;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;
}

.info {
    /* Inspired by: http://www.jankoatwarpspeed.com/css-message-boxes-for-different-message-types/ 
        https://www.w3schools.com/css/css_align.asp */
    padding: 5px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    border: 1px dotted darkblue;
    color: black;
    background-color: cornflowerblue;
    width: 70%;
    height: auto;
}

/* https://stackoverflow.com/questions/3732285/align-textbox-and-text-labels-in-html */

label {
    width: 33%;
    display: inline-block;
    text-align: right;
}

input[type=text] {
    width: 37.5px; /* 15% default, equivalent to 37.5px */
}

/* http://www.cssfontstack.com/Verdana */

h1 {
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
    font-style:italic;
}
p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
